a {
	color: rgb(0, 0, 0);
	background-color: transparent;
	text-decoration: none;
	font-family:'century gothic';
	font-weight:bold;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
}

a:hover {
	color: rgb(255, 0, 0);
	background-color: transparent;
	text-decoration: none;
	font-family:'century gothic';
}
	
p{
	text-align:center;
	font-family:'bookman old style';
    color: aliceblue;
}

body p, body h1, body h2, body h3, body h4, body h5{
	line-height: 1.8;
}

body a{
	line-height: 2;
}

p{
	margin-top: 15px;
	margin-bottom: 12px;
	margin-left: 30px;
	margin-right: 30px;
}
table{
    background-color: black;
}
.td1{
    background-image: url('20220821_202335.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}